
version: "3.9"
services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/url_shortner
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
